h1.heading-title, h2.heading-subtitle {
    float: left;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.heading-title {
    font-size: 36px;
    font-weight: 300;
}
.heading-title, .heading-subtitle {
    color: #999;
}
h1 {
    color: #fff;
    font: 500 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #e6e6e6;
    font-size: 30px;
}

