
<div>
	<button type="button" class="btn btn-info" ng-click="go('/proposalRegister')">
	 <span class="glyphicon glyphicon-plus"></span> Add new book
	</button>
</div>
<br> </br>

    <table ng-table="tableParams" class="table table-striped" show-filter="true">
    <tr ng-repeat="proposal in $data | filter:searchText | orderBy:'-book.rate'"  ng-if="proposal.stateHistory[0].proposalStatus=='approved'">
        <td title="'Picture'">
            <a href ng-click="popupImage('../../assets/images/books/{{proposal.book.imageName}}')" >
		    <img ng-src="../../assets/images/books/{{proposal.book.imageName}}" class="img-thumbnail"  width="150" height="120">
		    </a>
        </td>
        <td title="'Name'">
             {{proposal.book.name}}
        </td>
        
        <td title="'Author name'">
             <a href="#/author/books/{{proposal.book.author.authorId}}">{{proposal.book.author.firstName}} {{proposal.book.author.lastName}}</a>
        </td>
        
        <td title="'Category'">
        	{{proposal.book.bookCategory.name}}
        </td>
        
        <td title="'Release date'">
        	{{proposal.book.releaseDate}}
        </td>
        
        <td title="'Publisher name'" >
        	{{proposal.book.publisherName}}
        </td>
        
        <td  title="'Abstract'" style="width: 450px;">
		    <p> {{proposal.book.bookAbstract}}</p>
		</td>
        
        <td title="'Rate'">
		   <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:orange"></span> {{proposal.book.rate}}  
	    </td>	
		
		<td  title="'Actions'">
		<button type="button" class="btn btn-danger" ng-click="removeBook(proposal.proposalId)" ng-show="user.userType == 'administrator'">
		    <span class="glyphicon glyphicon-remove-sign"></span> Remove
		 </button>
		
		<button type="button" class="btn btn-primary"  ng-click="toggle('edit', proposal.proposalId)" ng-show="user.userType == 'administrator'">
		    <span class="glyphicon glyphicon-edit"></span> Edit
		 </button>
		 
		 <button type="button" class="btn btn-success"  ng-click="go('/book/reviews/{{proposal.book.bookId}}')">
		    <span class="glyphicon glyphicon-option-vertical"></span> More
		 </button>
        
        </td>
    </tr>
</table>

<div ui-view></div>

<!-- Modal (Pop up when detail button clicked) -->
            <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">ª</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{form_title}}</h4>
                        </div>
                        <div class="modal-body">
                        
                            <form name="books" class="form-horizontal" novalidate="" enctype="multipart/form-data">
                         
           						
           				    <div class="form-group error">
                                 <label for="inputEmail3" class="col-sm-3 control-label">Book photo</label>
                                 <div class="col-sm-9">
                                        <input type="file"  file-model="book.file">            
                                 </div>
                            </div>
                            
                                <div class="form-group error">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control has-error" id="name" name="name" placeholder="Fullname" value="{{$scope.book.name}}" 
                                        ng-model="book.name" ng-required="true">
                                        <span class="help-inline" 
                                        ng-show="book.name.$invalid && book.name.$touched">Name field is required</span>
                                    </div>
                                </div>
                                
						          <div class="form-group error">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Category Name</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-options="item as item.name for item in categories track by item.id" ng-model="book.bookCategory"></select>
                                     
                                        <span class="help-inline" ng-show="form.category.$dirty && form.category.$error.required" class="help-block">category is required</span>
 
                                    </div>
                                </div>
		
                                  <div class="form-group error" ng-class="{ 'has-error': form.category.$dirty && form.category.$error.required }">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Author Name</label>
                                    <div class="col-sm-9">
 	                         			 <select class="form-control" ng-options="item as item.firstName for item in authors track by item.authorId" ng-model="book.author"></select>
                                     
                                        <span class="help-inline" 
                                        ng-show="book.author.firstName.$invalid && book.author.firstName.$touched">Author id field is required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">publisher name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="publisherName" name="publisherName" placeholder="publisherName" value="{{$scope.book.publisherName}}" 
                                        ng-model="book.publisherName" ng-required="true">
                                    <span class="help-inline" 
                                        ng-show="book.publisherName.$invalid && book.publisherName.$touched">publisher name field is required</span>
                                    </div>
                                </div>
                                
                                 <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Release date</label>
                                    <div class="col-sm-9">
                                        
                                    <input type="date" name="releaseDate" id="releaseDate" class="form-control" ng-model="book.releaseDate" value="{{$scope.book.releaseDate}}" placeholder="yyyy-MM-dd" />                             
                                    <span class="help-inline" 
                                        ng-show="book.releaseDate.$invalid && book.releaseDate.$touched">Release date field is required</span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">book abstract</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="bookAbstract" name="bookAbstract" placeholder="bookAbstract" value="{{$scope.book.bookAbstract}}" 
                                        ng-model="book.bookAbstract" ng-required="true">
                                    <span class="help-inline" 
                                        ng-show="book.bookAbstract.$invalid && book.bookAbstract.$touched">book abstract field is required</span>
                                    </div>
                                </div>

                            </form>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn-save" ng-click="save($scope.modalstate)" ng-disabled="book.$invalid">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 