
    <!-- Page Content -->
    <div class="container" data-ng-init="init()" >

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{book.name}}
                    <small>{{book.releaseDate}} </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
	           <div class="col-xs-1 col-md-3">
			    <a href="../../assets/images/books/{{book.imageName}}" class="thumbnail">
			    <img ng-src="../../assets/images/books/{{book.imageName}}">
			    </a>
			  </div>
           
            <div class="col-md-5">
                <h3>{{book.name}}</h3>
                <h4>Category : {{book.bookCategory.name}} </h4>
                <h4>Author :   <a href="{{book.author.linkWiki}}">{{book.author.firstName}} {{book.author.lastName}}</a>  </h4>
       
                
                <h4>Release date : {{book.releaseDate}} </h4>
                <h4>Publisher : {{book.publisherName}} </h4>
                       
                <p> {{book.bookAbstract}}</p>
                
                <h4>Total Rating :  <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:orange"></span> {{avgRating}}</h4>
            	<h4>Total Reviews : {{totalReviews}}</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1" >
			    <a href="../../assets/images/users/{{user.imageName}}">
			    <img ng-src="../../assets/images/users/{{user.imageName}}" width="50" height="50">
			    </a> 
			    <h5> {{user.firstName}} {{user.lastName}}<h5>
			</div>
			
            <div class="col-md-10">
            
	            <form name="form" ng-submit="$scope.addReview()" role="form">
	    		     
	    		     
	    		      
		        
			        <div class="form-group" ng-class="{ 'has-error': form.reviewComment.$dirty && form.reviewComment.$error.required }">  
			            <input type="text" name="reviewComment" id="reviewComment" class="form-control" ng-model="review.reviewComment" placeholder="Write a comment" required />
			            <span ng-show="form.reviewComment.$dirty && form.reviewComment.$error.required" class="help-block">review comment is required</span>
			        </div>
			        <div class="form-group" ng-class="{ 'has-error': form.rating.$dirty && form.rating.$error.required }">  
			            <input type="number"  name="rating" id="rating" class="form-control" ng-model="review.rating" placeholder="rate me 1-10" min="0" max="10" required />
			            <span ng-show="form.rating.$dirty && form.rating.$error.required" class="help-block">rating number is required</span>
			        </div>
			
			        <br></br>
				    <br></br>
				    
				    <div ng-class="{ 'alert-success': response.success, 'alert-danger': !response.success }" ng-if="response" ng-bind="response.message"></div>
		         </form>
             </div> 
            
 
				
			<div class="col-md-1">
			    <div> 
					<button type="submit" ng-disabled="form.$invalid || $scope.dataLoading" class="btn btn-primary"  ng-click="addReview()" >
				    <span class="glyphicon glyphicon-thumbs-up"></span> submit
				    </button>
		        </div>
			
			
			    
			</div>
        </div>
        <!-- /.row  -->
        
        <hr>
        
        <div class="row"  ng-repeat="review in book.reviews | orderBy:'+reviewId' | filter:searchText">
			<div class="col-md-1" >
			    <a href="../../assets/images/users/{{review.user.imageName}}">
			    <img ng-src="../../assets/images/users/{{review.user.imageName}}" width="50" height="50">
			    </a> 
			    <h5> {{review.user.firstName}} {{review.user.lastName}}<h5>
			</div>
			  
		    <div class="col-md-8">
            	<h4>{{review.reviewComment}}</h4>   
			</div>	
				
			<div class="col-md-3">
			    <h4>Total Rating :  <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:orange"></span> {{review.rating}}</h4>
			        	
				<a href ng-click="removeReview(review.reviewId)" popover-placement="bottom" uib-popover="remove comment" popover-trigger="mouseenter" ng-show="review.user.userName==user.userName || user.userType == 'administrator'">
			        <span class="glyphicon glyphicon-remove-sign" style="color:red" aria-hidden="true"></span>
			    </a> 
				
				
				<a  href ng-click="showEditModel(review.reviewId)" popover-placement="bottom" uib-popover="edit comment" popover-trigger="mouseenter" ng-show="review.user.userName==user.userName || user.userType == 'administrator'">
			        <span class="glyphicon glyphicon-edit" style="color:blue" aria-hidden="true"></span>
			    </a> 
	
			</div>
        </div>
        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>IBDB &copy; Just Read it.</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    
       <div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">ª</span></button>
                            <h4 class="modal-title" id="myModalLabel">Edit Review</h4>
                        </div>
                        <div class="modal-body">
                              <form name="form" ng-submit="save(review.reviewId)" role="form">
	    		   
						        <div class="form-group" ng-class="{ 'has-error': form.reviewComment.$dirty && form.reviewComment.$error.required }">  
						             <label class="col-sm-3 control-label">Review comment</label> 
						            <input type="text" name="reviewComment" id="reviewComment" class="form-control" ng-model="updateReview.reviewComment" placeholder="Write a comment" required />
						            <span ng-show="form.reviewComment.$dirty && form.reviewComment.$error.required" class="help-block">review comment is required</span>
						        </div>
						        <div class="form-group" ng-class="{ 'has-error': form.rating.$dirty && form.rating.$error.required }">  
						            <label class="col-sm-3 control-label">Rating value</label>
						            <input type="number"  name="rating" id="rating" class="form-control" ng-model="updateReview.rating" placeholder="rate me 1-10" min="0" max="10" required />
						            <span ng-show="form.rating.$dirty && form.rating.$error.required" class="help-block">rating number is required</span>
						        </div>
						
						        <br></br>
							    <br></br>
							    
							    <div ng-class="{ 'alert-success': response.success, 'alert-danger': !response.success }" ng-if="response" ng-bind="response.message"></div>
					         </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn-save" ng-click="save(review.reviewId)" ng-disabled="book.$invalid">Save changes</button>
                        </div>
                    </div>
                </div>
    
    
    
    
    
    
    