<div ng-controller="LoginController">
  <div class="col-md-4" >
      <br>
      <br>
  </div>
  
  <div class="col-md-4">
      <h2>Login</h2>
	<form  id="myLogin" class="form-horizontal">
	    <div class="form-group">
	        <label for="inputEmail"  class="control-label col-xs-2">Username</label>
	        <div>
	            <input type="email" class="form-control" id="username" ng-model="username">
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="inputPassword" class="control-label col-xs-2">Password</label>
	        <div>
	             <input type="password" class="form-control" id="password" ng-model="password" >
	        </div> 
	    </div>
	    <div class="checkbox">
	        <label><input type="checkbox"> Remember me</label>
	    </div>
	    <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
	     <a href="#/register" class="btn btn-link">Register</a>
	    <br></br>
	    <br></br>
	     
	    <div class="alert alert-danger" ng-show="error!=''">
		  <strong>{{error}}</strong> 
		</div>
	</form>
  </div>

  <div class="col-md-4">
    
  
  </div>
</div>



          		