<div ng-controller="LoginController">
  <div class="row">
      <div class="jumbotron text-center">
			    <h1><img ng-src="../../assets/images/book64.png"> IBDB</h1>
			    <p><h4 style="color:grey">Open your mind. read a book</h4></p>
			    
			    <h1 >Welcome to IBDB let's start by Finding your favorite book. <a ui-sref="books" > continue</a></h1>  
			    	  
			    
			  
			</div>  
  </div>






  <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{book.name}}
                    
                </h1>
            </div>
  </div>


  



 
</div>

