
  <div class="row">
           <div class="col-md-12 jumbotron">
                <div class="text-center">
                   
                     
			    	 <p> <h1> <b> Welcome to IBDB. </b> </h1> <h2>let's start by Finding your favorite book. </h2></p>
			    	 <a ui-sref="books"  class="btn btn-success" > continue</a> 
			    	 
			    	 
			    	 
			    	 
           		</div>
           </div>
  </div>


  



 











            <!-- /.row -->



<!--  <div class="row">
                <div class="col-lg-12">
                    <h1><img ng-src="../../assets/images/book64.png"> IBDB</h1>   <h4 style="color:grey">Open your mind. read a book</h4>
                </div>
 </div>   -->
