
<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
	<label>First name</label>
	<input type="text" name="firstName" id="firstName" class="form-control" ng-model="author.firstName" required />
	<span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
</div>
					        
<div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
	<label>Last name</label>
	<input type="text" name="lastName" id="Text1" class="form-control" ng-model="author.lastName" required />
	<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
</div>
					  
<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
	<label>Wiki page</label>
	<input type="text" name="linkWiki" id="linkWiki" class="form-control" ng-model="author.linkWiki" required />
	<span ng-show="form.linkWiki.$dirty && form.linkWiki.$error.required" class="help-block">wiki page is required</span>
</div>
					    
<div class="form-group" ng-class="{ 'has-error': form.dateOfBirth.$dirty && form.dateOfBirth.$error.required }">
		<label >Date of birth</label>
		<input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control" ng-model="author.dateOfBirth" value="{{ author.dateOfBirth | date: 'yyyy-MM-dd' }}" placeholder="yyyy-MM-dd" required />
		<span ng-show="form.dateOfBirth.$dirty && form.dateOfBirth.$error.required" class="help-block">Date of birth is required</span>
</div>
		
        
<div class="form-group row">
	<div class="col-xs-6 col-xs-offset-3">
   		 <a ui-sref="pRegistration.book" class="btn btn-block btn-info">
    		Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
	</div>
</div>
 
 







