	<div>
		<button type="button" class="btn btn-info" ng-click="changeView('/proposalRegister')">
		 <span class="glyphicon glyphicon-plus"></span> Add new Proposal
		</button>
	</div>
	
	<br></br>

  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="All proposals" ng-click="filterTable('all')"></uib-tab>
    <uib-tab index="1" heading="Accepted proposals" ng-click="filterTable('approved')"></uib-tab>
    <uib-tab index="2" heading="Pending proposals" ng-click="filterTable('pending')"></uib-tab>
    <uib-tab index="3" heading="Denied proposals" ng-click="filterTable('denied')"></uib-tab>   
    <uib-tab index="4" heading="Info proposals" ng-click="filterTable('info')"></uib-tab>
  </uib-tabset>
 	  
  <table class="table table-striped">
		<tr>
		    <th>Book Name</th>
			<th>Author First Name</th>
			<th>Author Last Name</th>
			<th>Last update</th>
			<th>Current Status</th>
			<th>User</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="proposal in proposals | filter:searchText  | orderBy:'proposalDate' " > 
			<td>
			   {{proposal.book.name}}
			</td>
			<td>
			   {{proposal.book.author.firstName}} 
			</td>
		    <td>
		       {{proposal.book.author.lastName}}
		    </td>
		    
		    <td>
		       {{proposal.stateHistory[0].proposalDate}}
		    </td>		
			
			<td>
			   {{proposal.stateHistory[0].proposalStatus}}
			</td>
			
			<td>
			   {{proposal.user.userName}}
			</td>
	
			<td>
			
			 <button type="button" class="btn btn-success"  popover-placement="bottom" uib-popover="Accept proposal" popover-trigger="mouseenter" ng-show="user.userType == 'administrator' " ng-disabled="proposal.stateHistory[0].proposalStatus == 'approved'" ng-click="approveProposal(proposal.proposalId)">
			    <span class="glyphicon glyphicon-ok"></span>
			 </button>
			 
			<button type="button" class="btn btn-warning" popover-placement="bottom" uib-popover="Deny proposal" popover-trigger="mouseenter" ng-show="user.userType == 'administrator' "  ng-disabled="proposal.stateHistory[0].proposalStatus == 'denied'" ng-click="denyProposal(proposal.proposalId)">
			    <span class="glyphicon glyphicon-remove-sign"></span>
			 </button>
			 
			 <button type="button" class="btn btn-info" popover-placement="bottom" uib-popover="Information is missing" popover-trigger="mouseenter" ng-show="user.userType == 'administrator' " ng-disabled="proposal.stateHistory[0].proposalStatus == 'info'" ng-click="infoProposal(proposal.proposalId)">
			 	<i class="fa fa-info" aria-hidden="true"> </i>
			 </button>
			 	
			<button type="button" class="btn btn-primary" popover-placement="bottom" uib-popover="Edit proposal" popover-trigger="mouseenter" ng-show="user.userName==proposal.user.userName || user.userType == 'administrator' " ng-disabled="user.userType != 'administrator' && (proposal.stateHistory[0].proposalStatus == 'denied' || proposal.stateHistory[0].proposalStatus == 'approved')" ng-click="changeView('/proposal/edit/{{proposal.proposalId}}')">
			    <span class="glyphicon glyphicon-edit"></span> 
			 </button>
			 
			 <button type="button" class="btn btn-danger" popover-placement="bottom" uib-popover="Remove proposal" popover-trigger="mouseenter"  ng-show="user.userName==proposal.user.userName || user.userType == 'administrator'" ng-disabled="user.userType != 'administrator' && (proposal.stateHistory[0].proposalStatus == 'denied' || proposal.stateHistory[0].proposalStatus == 'approved')" ng-click="removeProposal(proposal.proposalId)">
			    <span class="glyphicon glyphicon-remove-sign"></span>
			 </button>
			 
			 <button type="button" class="btn btn-info" popover-placement="bottom" uib-popover="Show proposal states history" popover-trigger="mouseenter" ng-show="user.userName==proposal.user.userName || user.userType == 'administrator'" ng-click="changeView('/proposalsHistory/{{proposal.proposalId}}')">
			 	<i class="fa fa-archive" aria-hidden="true"> </i>
			 </button>

			</td>
		</tr>
	</table>
  