 <div class="col-md-6 col-md-offset-3">
    <h2>{{title}}</h2>
    
    <div class="row">
    	 <div class="col-sm-2" ng-show= "mode==1" >
    	 
    	    <a  href ng-click="popupImage('../../assets/images/users/{{user.imageName}}')"  class="thumbnail"> 
		    <img ng-src="../../assets/images/users/{{user.imageName}}">
		    </a>
	 	</div>
    
    </div>
    
    
     <!-- form validation
     	$dirty The field has been modified
		$invalid The field content is not valid
		$valid The field content is valid-->
   
    <form name="form" ng-submit="$scope.register()" role="form" enctype="multipart/form-data">    
    	<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }" ng-show= "mode==2">
            <label for="photo">User photo</label>
            <input type="file"  file-model="user.file" > 
        </div>
    
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label>First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label>Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label>Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="user.userName" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label>Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
    
        <div class="form-group" ng-class="{ 'has-error': form.dateOfBirth.$dirty && form.dateOfBirth.$error.required }">
            <label for="dateOfBirth">Date of birth</label>
            <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control" ng-model="user.dateOfBirth" value="{{user.dateOfBirth}}" placeholder="yyyy-MM-dd" required />
            <span ng-show="form.dateOfBirth.$dirty && form.dateOfBirth.$error.required" class="help-block">Date of birth is required</span>
        </div>
        
         <div class="form-group" >
            <label for="points">Total points</label>
            <input type="number" name="points" id="points" class="form-control" ng-disabled="true" ng-model="user.points" value="{{user.points}}" />
            <span ng-show="form.dateOfBirth.$dirty && form.dateOfBirth.$error.required" class="help-block">Points is required</span>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': form.gender.$dirty && form.gender.$error.required }">
            <label>Gender</label>
            <select name="gender" id="gender" class="form-control" ng-model="user.gender" required >
			    <option value="male">male
			    <option value="female">female
			</select>
            <span ng-show="form.gender.$dirty && form.gender.$error.required" class="help-block">Gender is required</span>
        </div>
         
         <div class="form-group" ng-show="loginUser.userType == 'administrator'">
            <label>User type</label>
            <select name="userType" id="userType" class="form-control" ng-model="user.userType" required >
			    <option selected="selected">member</option>
			    <option>author</option>
			    <option>administrator</option>
			</select>
            
        </div>
         
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || $scope.dataLoading" ng-show="mode==2" class="btn btn-primary" ng-click="register()">Register</button>
			<button type="button" class="btn btn-primary" ng-show="mode==1" ng-disabled="form.$invalid || $scope.dataLoading" ng-click="edit()">
			    <span class="glyphicon glyphicon-edit"></span> save
			 </button>
			 
			  <button type="button" class="btn btn-primary" ng-show="mode==1" ng-click="go('{{back}}')">
			    <span class="glyphicon glyphicon-menu-left"></span> back
			 </button>
			
            <a href="#/login" ng-show="mode==2" class="btn btn-link"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
        </div>
        

        <br></br>
	    <br></br>
	    
	    <div ng-class="{ 'alert-success': response.success, 'alert-danger': !response.success }" ng-if="response" ng-bind="response.message"></div>
    </form>
</div>

