<div class="row">
      <div class="col-md-5" >
		   <button type="button" class="btn btn-info" ng-click="go('/register')" ng-show="user.userType == 'administrator' ">
			 <span class="glyphicon glyphicon-plus"></span> Add new user
			</button>
	  </div>
	  		
      <div class="col-md-5">
          <div ng-class="{ 'alert-success': response.success, 'alert-danger': !response.success }" ng-if="response" ng-bind="response.message"></div>      
      </div> 
 </div>
 <br>
   <table class="table table-striped">
	<tr>
	    <th>Picture</th>
		<th>First name</th>
		<th>Last name</th>
		<th>User name</th>
		<th>Date of birth</th>
		<th>Gender</th>
		<th>Points</th>
		<th>User type</th>
		<th>Action</th>
	</tr>
	<tr ng-repeat="user in users | filter:searchText | orderBy:'-points' ">
	    <td>
		  <div class="col-sm-2">
		    <a  href ng-click="popupImage('../../assets/images/users/{{user.imageName}}')"  class="thumbnail"> 
		    <img ng-src="../../assets/images/users/{{user.imageName}}">
		    </a>
		  </div>
		  
		</td>
		
		<td>
		   {{user.firstName}}
		</td>
	    <td>
	       {{user.lastName}}
	    </td>
	    <td>
	       {{user.userName}}
	    </td>		
	
		<td>
		   {{user.dateOfBirth}}
		</td>
		<td>
		   {{user.gender}}
		</td>
		
		<td>
		   {{user.points}} <span class="glyphicon glyphicon-usd" style="color:green" ></span>  
		</td>
		
		<td>
		   {{user.userType}}
		</td>
	
		<td>
		<button type="button" class="btn btn-danger" ng-show="loginUser.userType == 'administrator' || user.userName == loginUser.userName"  ng-click="removeUser(user.userId)">
		    <span class="glyphicon glyphicon-remove-sign"></span> Remove
		</button>
		
		<button type="button" class="btn btn-primary" ng-show="loginUser.userType == 'administrator' || user.userName == loginUser.userName "  ng-click="go('/user/edit/{{user.userId}}')">
		    <span class="glyphicon glyphicon-edit"></span> Edit                            
		 </button>
		 
		 <button type="button" class="btn btn-success" ng-click="go('/user/books/{{user.userId}}')">
		 	<i class="fa fa-book" aria-hidden="true"> Show books</i>	 
		 </button>
		
		</td>
	</tr>
</table>


<div ui-view></div>

