<html>

<head>
    <!-- css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    
    
    <style type="text/css">
	[ng\:cloak], [ng-cloak], .ng-cloak {
	  display: none !important;
	}
	</style>
    
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/ng-table.css">
    <link rel="stylesheet" href="assets/css/angular-advanced-searchbox.css">
    
   
    <!-- ASSETS JS !-->
	<script src="assets/js/angular.js"></script> 
	<script src="assets/js/angular-touch.js"></script> 
	<script src="assets/js/angular-animate.js"></script> 
	
    <script type="text/javascript" src="assets/js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/lodash.js"></script>
    <script type="text/javascript" src="assets/js/ui-bootstrap-tpls-1.2.4.min.js"></script>
    <script type="text/javascript" src="assets/js/bootbox.min.js"></script>
   
    
    <script type="text/javascript" src="assets/js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="assets/js/ng-table.min.js"></script>
     <script type="text/javascript" src="assets/js/angular-advanced-searchbox.js"></script>
    
    <!-- APP MAIN -->
    <script type="text/javascript" src="app/app.js"></script>
    
      <!-- APP HELPERS -->
    <script type="text/javascript" src="app/helpers/routes.js"></script>
    
    <!-- APP JS -->

    <script type="text/javascript" src="app/factories/common.js"></script> 
    
     <!-- book JS -->
    <script type="text/javascript" src="app/directives/fileModel.js"></script>
    <script type="text/javascript" src="app/directives/ngBackImg.js"></script>
    <script type="text/javascript" src="app/services/bookService.js"></script>
    <script type="text/javascript" src="app/controllers/bookController.js"></script> 
    
    <!-- book category -->
    <script type="text/javascript" src="app/services/bookCategoryService.js"></script>
    
    <!-- users JS -->
    <script type="text/javascript" src="app/services/userService.js"></script> 
    <script type="text/javascript" src="app/controllers/userController.js"></script>
    
    <!-- author JS -->
    <script type="text/javascript" src="app/services/authorService.js"></script> 
    <script type="text/javascript" src="app/controllers/authorController.js"></script>
    <script type="text/javascript" src="app/controllers/authorDetailController.js"></script>
    
     <!-- proposal JS -->
    <script type="text/javascript" src="app/services/proposalService.js"></script> 
    <script type="text/javascript" src="app/controllers/proposalController.js"></script>
    <script type="text/javascript" src="app/controllers/proposalRegistrationController.js"></script>
   
    <script type="text/javascript" src="app/services/proposalStateService.js"></script> 
    <script type="text/javascript" src="app/controllers/proposalHistoryController.js"></script>
    
   
    <!-- Review JS -->
    <script type="text/javascript" src="app/services/reviewService.js"></script> 
    <script type="text/javascript" src="app/controllers/reviewController.js"></script>
    
    <script type="text/javascript" src="app/controllers/loginController.js"></script>
    <script type="text/javascript" src="app/controllers/mainController.js"></script>
    <script type="text/javascript" src="app/services/authenticationService.js"></script> 
    
   	    
</head>

<body ng-app="ibdbApp">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="main"><span class="glyphicon glyphicon-book" style="color:white" aria-hidden="true"></span> IBDB   </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav" ng-show=isLogin()>
                   <li> <a ui-sref="books" popover-placement="bottom" uib-popover="Books" popover-trigger="mouseenter"><i class="fa fa-book fa-lg" aria-hidden="true"></i></a></li>
                   <li> <a ui-sref="proposals" popover-placement="bottom" uib-popover="Proposals" popover-trigger="mouseenter"> <i class="fa fa-file-text fa-lg" aria-hidden="true"></i> </a></li>
                   <li> <a ui-sref="authors" popover-placement="bottom" uib-popover="Authors" popover-trigger="mouseenter">  <i class="fa fa-user fa-lg" aria-hidden="true"></i> </a></li>
  				   <li> <a ui-sref="users" popover-placement="bottom" uib-popover="users" popover-trigger="mouseenter"><i class="fa fa-users fa-lg" aria-hidden="true"></i> </a></li> 
                </ul>
                
                <form class="navbar-form navbar-left" role="search" ng-show="isLogin()">
                    
                    <div class="form-group">
                        <i class="fa fa-search fa-lg" style="color:white">
                            <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                        </i>
                    </div>
                    
                </form>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="userEdit"> <i class="fa fa-cog fa-lg"> {{logInUser}} </i>  </a></li>
                    <li><a href ng-click="logout()">   <i class="fa fa-sign-out fa-lg" aria-hidden="true"> logout</i></a></li>
                </ul>
                
            </div>
        </div>
    </nav>
    <br />
    <div class="container-fluid">
    	<div ui-view></div>
    </div>
</body>

</html>
