<h1>{{title}}</h1>

    <table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>authour_id</th>
		<th>publisher_name</th>
		<th>book_abstract</th>
		<th>Detail</th>
		<th>Action</th>
	</tr>
	<tr ng-repeat="item in list">
		<td>
		   {{item.name}}
		</td>
		<td>
		   {{item.authourId}}
		</td>
		<td>
		   {{item.publisherName}}
		</td>
		<td>
		    {{item.bookAbstract}}
		</td>
		<td>
		   <a ui-sref="book.details({id: item.bookId})">Details</a>
		</td>
		<td>
		<input type="button" value="Remove" class="btn btn-primary" ng-click="DeleteBookCtrl(item.id)"/>
		</td>
	</tr>
</table>

<div ui-view></div>
	
